<!doctype html>

<html>

<head>
	<title>Gamer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/custom-theme.css">   
</head>

<body>
     
    
    <!--
    <div class="navbar-collapse collapse" id="headerText">
		<span class="navbar-brand">
		</span>
	</div>
    -->

	<div style="background-color:#16141A"><a href="javascript:history.back()" onclick="saveNewMsgs(event)" style="font-size: 26px; color:white;">&#x293A;</a></div>
    <nav class="navbar sticky-top" style="background-color:#16141A">
        <div class="mx-auto text-center">
            <img src="https://i.imgur.com/eClV1JZ.png" class="img-fluid
            chatroomPic">
            <h4 class="text-light text-center">
            <script>
                var cName = localStorage.getItem('chatName');
                document.write(JSON.parse(cName));
            </script>
            </h4>
            <h6 class="text-light text-center">
                <img
                src="https://miro.medium.com/max/512/1*nZ9VwHTLxAfNCuCjYAkajg.png"
                class="onlineStatus">
                ONLINE
            </h6>
        </div>
        
    </nav>
     
    <div class="container" style="height: 60vh;">
        <div class="msgs" style="height: 75%; overflow-y: auto;">
            <div class="textMsg">
                <p class="text-left">LETS PLAY :D</p>
            </div>
            <script>
            var fName = JSON.parse(cName);
            var msgHistory = localStorage.getItem(fName);
            if( msgHistory == "" || msgHistory == null ) {

            } else {
                var msgArr = JSON.parse(msgHistory);
                for(var i = 0; i < msgArr.length; i++){
                //$(".msgs").append("<br style='clear:both' /><div class='userMsg'><p class='text-left'>" + msgArr[i] + "</p></div>");
                    document.write("<br style='clear:both' /><div class='userMsg'><p class='text-left'>" + msgArr[i] + "</p></div>");
                }
            }
            </script>
        </div>
        <div class="sendBar" style="background-color: #221F27; padding-top: 5px;">
            <input type="text" id="sendMsg" placeholder="Send a Message...">
            <button id="sendBtn" onclick="sendMsg()">Send</button>
        </div>
    </div>

    <script>
        //on enter, send message
        var input = document.getElementById("sendMsg");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("sendBtn").click();
            }
        });
        
        
        

        var newMsgs = [""];
        newMsgs.pop();
        // on button click, send message
        function sendMsg() {
            var msg = $("#sendMsg").val();
            if(msg != "") {
                newMsgs.push(msg);
                $("#sendMsg").val("");
                //var html = "<div class='textMsg'><p class='text-right'>" + msg + "</p></div>";
                $(".msgs").append("<br style='clear:both' /><div class='userMsg'><p class='text-left'>" + msg + "</p></div>");
            }
        }
    </script>
    
    <nav class="navbar fixed-bottom" style="background-color:#16141A">
        <div class="mr-auto" align="center" onclick="saveNewMsgs(event)">
                <a href="./friends">
                <img src="https://i.imgur.com/hgZbx0c.png" class="navItem">
                <p class="text-light">FRIENDS</p>
                </a>
        </div>
        <div class="mx-auto" align="center" onclick="saveNewMsgs(event)">
                <a href="./chats">
                <img src="https://i.imgur.com/wnir7Fg.png" class="navItem">
                <p class="text-light">CHAT</p>
                </a>
        </div>
         <div class="ml-auto" align="center" onclick="saveNewMsgs(event)">
                <a href="./profile">
                <img src="https://i.imgur.com/xwPv2OH.png" class="navItem">
                <p class="text-light">PROFILE</p>
                </a>
        </div>
    </nav>
    
    
    <script>
        function saveNewMsgs(e) {
            var getMsgs = localStorage.getItem(fName);
            if( getMsgs == "" || getMsgs == null ) {
                var jsonToSave = JSON.stringify(newMsgs); 
            } else {
                var jsonMsg = JSON.parse(getMsgs);
                var jsonToSave = JSON.stringify(jsonMsg.concat(newMsgs));
            }
            localStorage.setItem(fName, jsonToSave);
            /*
            var resetArr = [""];
            localStorage.setItem('A. Dude', resetArr);
            */

        }
    </script>
    
    
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>
    

</body>

</html>


