<!doctype html>

<html>

<head>
	<title>Gamer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/custom-theme.css">   
</head>

<body>
     
    
    <!--
    <div class="navbar-collapse collapse" id="headerText">
		<span class="navbar-brand">
		</span>
	</div>
    -->

	
    <nav class="navbar sticky-top" style="background-color:#16141A">
        <h3 class="mx-auto" style="color:#FF007A">GAMES</h3>
    </nav>
     
    <div class="container">
        
        <div class="form-group">
            <label for="sendMsg">Search For a party...</label>
            <input type="message" class="form-control " id="search"
            placeholder="Search For a Party">
        </div>
        

        <h4 class="text-light text-center">GAMES</h4>
        
        <h5 class="text-light top-buffer">1. FIFA 19 (PS4)</h5>
        <a href="">    5 People looking for a Party!</a>
        <h5 class="text-light top-buffer">2. League of Legends (PC)</h5>
        <a href="">    4 People looking for a Party!</a>
        <h5 class="text-light top-buffer">3. Super Smash Bros. Ultimate (Switch)</h5>
        <a href="">    4 People looking for a Party!</a>
        <h5 class="text-light top-buffer">4. COD: Modern Warfare (XBox One)</h5>
        <a href="">    8 People looking for a Party!</a>
        <h5 class="text-light top-buffer">5. NBA2k20 (PS4)</h5>
        <a href="">    2 People looking for a Party!</a>
        
        <h4 class="text-light text-center top-buffer">GENRES</h4>
        
        <h5 class="text-light top-buffer">1. Action</h5>
        <a href="">    15 People looking for a Party!</a>
        <h5 class="text-light top-buffer">2. Adventure</h5>
        <a href="">    14 People looking for a Party!</a>
        <h5 class="text-light top-buffer">3. Puzzle</h5>
        <a href="">    1 People looking for a Party!</a>
        
        
        <h5 class="text-light top-buffer">4. Racing</h5>
        <a href="">    8 People looking for a Party!</a>
        <h5 class="text-light top-buffer">5. Sports</h5>
        <a href="">    12 People looking for a Party!</a>
        
    </div>
    
    <nav class="navbar fixed-bottom" id="nextMenu"
    style="background-color:#16141A">
        <!--
        <div class="row justify-content-center">
            <div class="col" align="center">
                <a href="./friends">
                <img src="https://i.imgur.com/hgZbx0c.png" class="navItem">
                <p>Friends</p>
                </a>
            </div>

            <div class="col" align="center">
                <a href="./chat">
                <img src="https://i.imgur.com/SowfKJR.png" class="navItem">
                <p>Chat</p>
                </a>
            </div>
            
            <div class="col" align="center">
                <a href="./games">
                <img src="https://i.imgur.com/aBaBRcp.png" class="navItem">
                <p>Games</p>
                </a>
            </div>
        
        </div>
        -->
        <div class="mr-auto" align="center">
                <a href="./friends">
                <img src="https://i.imgur.com/hgZbx0c.png" class="navItem">
                <p class="text-light">FRIENDS</p>
                </a>
        </div>
        <div class="mx-auto" align="center">
                <a href="./chats">
                <img src="https://i.imgur.com/SowfKJR.png" class="navItem">
                <p class="text-light">CHAT</p>
                </a>
        </div>
        <div class="ml-auto" align="center">
                <a href="./games">
                <img src="https://i.imgur.com/aBaBRcp.png" class="navItem">
                <p class="text-light">GAMES</p>
                </a>
        </div>
    </nav>
    
    
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>
    

</body>

</html>
