<!DOCTYPE html>

<html>

<head>
    <title>Welcome to BASH</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/login.css"> 
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</head>

<body>
    <nav class="navbar navbar-static-top" style="background-color:#16141A">
        <a class="mr-auto text-light" style="font-size: 35px;" href="./">&#x293A;</a>
        <!-- if we want pink
        <a class="mr-auto" style="font-size: 35px; color:#FF007A" href="./home">&#x293A;</a>
        -->
    </nav>
     
    <div class="container">
        <br>
        <div style="text-align: center;">
            <h2 class="text-left top-buffer" style="margin-left:7%">Register</h2>
            <input type="text" id="fName" placeholder="First Name">
            <br>
            <input type="text" id="lName" placeholder="Last Name">
            <br>
            <input type="text" id="usr" placeholder="User Name">
            <br>
            <input type="password" id="create" placeholder="Create Password">
            <br>
            <input type="password" id="confirm" placeholder="Re-type Password">
            <br>
            <a class="btn btn-default mr-auto" href="./home" id="login"
            onclick="saveName(event)">SIGN UP</a>
            <!--
            <a class="styledText" style="color: #A0A0A0;">Forgot password?</a>
            <br>
            
            <div style="bottom: 0">
                <p class="styledText" style="color: white;">Don't have an account yet?</p>
                <a class="styledText" style="color: #0084E4;">Sign up</a>
            </div>
            -->


        </div>

        <!-- <div class="row top-buffer"> -->

    </div>

    <script>
        function saveName(e) {
            var usrName = $("#fName").val() + " " + $("#lName").val();

            localStorage.setItem('usrName', JSON.stringify(usrName));
            
        }
    </script>
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>
    

</body>

</html>

