<!doctype html>

<html>

<head>
	<title>Gamer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/custom-theme.css">   
</head>

<body>
     
    
    <!--
    <div class="navbar-collapse collapse" id="headerText">
		<span class="navbar-brand">
		</span>
	</div>
    -->

	
    <nav class="navbar navbar-static-top" style="background-color:#16141A">
        <a class="mr-auto" style="color:#FF007A" href="./home">BACK</a>
    </nav>
     
    <div class="container">
    
       
        <h3 class="text-center text-light top-buffer">PARTY UP!</h3>
        <h4 class="text-center text-light">We found some compatible teammates!</h4>
        

        {{#each suggestions}}

        <div class="row top-buffer">         
            <div class="col-4">
                <img src="{{imageURL}}" alt="{{name}}" class="img-fluid">
            </div>
            <div class="col-8">
                <h3 class="text-light">{{name}}<button class="add" onclick="">+
                Add</button></h3> 
                <p class="text-light">{{genres}}</p> 
            </div>
        </div>

        <hr>
        {{/each}}

    </div>
    
    <nav class="navbar fixed-bottom" id="nextMenu"
    style="background-color:#16141A">
        <a class="float-right ml-auto" style="color:#FF007A" href="./friends">FINISH</a>
    </nav>
    
    
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>
    

</body>

</html>
