body {
    background: #221F27 !important;
    padding-bottom: 70px
}

.top-buffer { margin-top:20px; }

/*#nextMenu {
    
} */

#sendMsg {
    background-color: #FFFFFF;
    position: relative;
    bottom: 0%;
    width: 65vw;
    max-width: 980px;
    box-sizing: border-box;
    border: white;
    border-radius: 9px;
    padding-left: 10px;
    height: 40px;
    font-family: Open sans;
}

.sendBar {
    position: fixed !important;
    bottom:100px;
}

.textMsg {
    background: #E7E7E7;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;   
    display: inline-block;
    padding-top:10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    max-width: 230px;
    border-radius: 12px;
}

.userMsg {
    background: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 10px;   
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 1px;
    padding-bottom: 2px;
    max-width: 230px;
    min-width: 18px;
    word-wrap: break-word;
    border-radius: 12px;
    float:right;
}

.onlineStatus {
    width: 4.5vw;
    max-width: 16px;
}

.chatroomPic {
    max-width: 125px;
    width: 20vw;
}

.chatIcon {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    max-height: 10px;
}

.statusBubble {
    max-height: 25px;
    position: absolute;
    right: 24%;
    top: 66%
    
}

.navItem {
    height: 10vh;
    max-height: 35px;
}

#pic {
    max-width: 20px;
}

.add {
    float: right;
    text-align: center;
   
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 12px;
    font-family: Open Sans;
}

.button {
    position: relative;
    width: 124px;
    height: 124px; 
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.buttonItem {
    position: relative;
    width: 75px;
    height: 31px;
    left: 25px; 
    top: 45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}


